<div id="locs-filter-date" ng-controller="LocsFilterDateCtrl">
    <div  class="filter-options active">
        <md-checkbox  aria-label="disable date filter" ng-change="removeDateFilter()" ng-model="noDateFilter">
            No date filter
        </md-checkbox>
        <div flex-gt-xs>
            <md-datepicker ng-model="startDate" md-placeholder="Start date" md-current-view="year" ng-disabled="noDateFilter" ng-change="updateStartDate(startDate)"
                           md-open-on-focus></md-datepicker>
        </div>
        <div flex-gt-xs>
            <md-datepicker ng-model="endDate" md-placeholder="End date" md-current-view="year" ng-disabled="noDateFilter" ng-change="updateEndDate(endDate)"
                           md-open-on-focus></md-datepicker>
        </div>
    </div>
</div>
