extends layout

block content
    h1= title
    p Welcome to the PMT API! The primary purpose of this API is to provide required functionality to the PMT API application. This API was designed solely for the purpose of serving the needs the web application.

    // Wrapper
    #wrapper
        // API METHODS
        h2 API Methods
        #apiMethods
            table
                thead
                    th Name
                    th Path
                    th Description
                    th Parameters
                tbody
        // /API METHODS
       
    // /WRAPPER