<div id="password-reset" ng-controller="AdminPasswordResetCtrl">
    <md-dialog aria-label="reset password dialog">
        <form name="updatePassword">
            <!-- header -->
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 class="sub-header">Reset Password</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <i class="material-icons">close</i>
                    </md-button>
                </div>
            </md-toolbar>
            <!-- description -->
            <md-content class="description md-padding" ng-show="!Loading">
                <p>
                    Reset password & send new credentials to user.
                    <span ng-show="errorMessage" class="err-message"><br/>{{errorMessage}}</span>
                </p>
            </md-content>
            <!-- submit loading message -->
            <md-content class="description md-padding" ng-show="Loading">
                <p>
                    Your request is currently being processed.
                    <span ng-show="errorMessage" class="err-message"><br/>{{errorMessage}}</span>
                </p>
            </md-content>
            <!-- loading animation -->
            <div>
                <md-progress-circular ng-show="Loading" class="loading" md-diameter="150" md-mode="indeterminate"></md-progress-circular>
            </div>
            <md-dialog-content ng-show="!Loading">
                <!-- password-->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input type="password" name="password" ng-model="activeUser._password" ng-required="newPassword.touched" ng-focus="setFocused('newPassword')" ng-blur="setBlurred('newPassword')">

                        <div ng-messages="activeUser.password.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Verify Password</label>
                        <input type="password" name="verify_password" ng-model="activeUser.verify_password" ng-focus="setFocused('verifyNewPassword')" ng-blur="setBlurred('verifyNewPassword')">
                        <div ng-messages="updatePassword.verify_password.$error">
                            <div class="err-message" ng-message="required">Passwords do not match</div>
                        </div>

                    </md-input-container>
                </div>
                <!-- buttons -->
                <div>
                    <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
                    <md-button class="save md-raised" ng-click="resetPassword()">Reset Password</md-button>
                </div>
            </md-dialog-content>
        </form>
    </md-dialog>
</div>