<div class="map-filter-taxonomy" ng-controller="MapFilterTaxonomyCtrl">
    <div ng-show="filter.options.length===0 || (filter.options.length===1 && filter.options.unassigned)">The selected data source(s) do not have any {{filter.label}} classifications assigned.</div>
    <!-- option to filter to none/unspecified for a given taxonomy-->
    <div ng-click="unassignedClicked(unassigned)" class="menu-option" ng-show="filter.options.length>1 && filter.params.unassigned">
        <md-checkbox class="menu-checkbox"></md-checkbox>
        <div class="menu-label">{{unassigned.name}}</div>
    </div>
    <!-- list of classifications -->    
    <div ng-repeat="option in filter.options" class="menu-option">
        <div class="tax-group-wrapper">
            <md-checkbox class="menu-checkbox" aria-label="filter selection" 
            ng-model="option.active" ng-true-value="true" ng-false-value="false"
            ng-change="classificationClicked(option)" >{{option.c}}</md-checkbox>
            <div class="arrows-wrapper" dynamic="arrowUI" ng-if="option.children && option.children.length > 0"></div>
        </div>
        
        <div class="nested-column" layout-gt-sm="column" dynamic="menuUI" ng-show="option.showNest" ng-if="option.children && option.children.length > 0" ></div>
    </div>    
</div>
